{% extends "base.html" %}
{% load static %}
{% block content %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'accounts/css/styles.css' %}">
{% endblock extra_css %}
<br>
<div class="container p-5">
  <div class="row justify-content-center">
    <div class="col-md-5">
      <div class="border border-warning rounded p-4">
        <div class="text-center">
          <svg width="72" height="72" viewBox="0 0 16 16" class="mb-4" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M12 1H4a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3zM4 0a4 4 0 0 0-4 4v8a4 4 0 0 0 4 4h8a4 4 0 0 0 4-4V4a4 4 0 0 0-4-4H4z"/>
            <path fill-rule="evenodd" d="M8.537 12H5.062V3.545h3.399c1.587 0 2.543.809 2.543 2.11 0 .884-.65 1.675-1.483 1.816v.1c1.143.117 1.904.931 1.904 2.033 0 1.488-1.084 2.396-2.888 2.396zM6.375 4.658v2.467h1.558c1.16 0 1.764-.428 1.764-1.23 0-.78-.569-1.237-1.541-1.237H6.375zm1.898 6.229H6.375V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z"/>
          </svg>
          <h1 class="h3 mb-3 font-weight-normal">Bootstrap5 Login</h1>
          <h2 class="text-center mb-4">Connexion</h2>
        </div>
        <form method="POST">
          {% csrf_token %}
          <!-- Username input -->
          <div class="form-outline mb-4">
            <input type="text" name="username" id="username" required class="form-control form-control-lg"
              placeholder="Entrez votre nom d'utilisateur" />
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <input type="password" name="password" id="password" required class="form-control form-control-lg"
              placeholder="Entrez votre mot de passe" />
          </div>

          <!-- Afficher les erreurs -->
          {% if error_message %}
            <div class="alert alert-danger" role="alert">
              {{ error_message }}
            </div>
          {% endif %}

          <div class="d-flex justify-content-between align-items-center">
            <!-- Checkbox -->
            <div class="form-check mb-0">
              <input class="form-check-input me-2" type="checkbox" name="remember_me" id="remember_me" value="on" />
              <label class="form-check-label" for="remember_me">
                Se souvenir de moi
              </label>
            </div>
            <a href="#!" class="text-body">Mot de passe oublié ?</a>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="w-100 btn btn-lg btn-success" style="padding-left: 2.5rem; padding-right: 2.5rem;">S'inscrire</button>
            <p class="small fw-bold mt-2 pt-1 mb-0">Vous n'avez pas de compte ? <a href="{% url 'signup' %}"
                class="link-danger">Inscrivez-vous</a></p>
          </div>


        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}


